@background: #071521;
@error-red: #C74242;
@dark-yellow: #EDA839;
@left-distance: 3%;

@import "font-awesome.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}


body {
  background-color: @background;
  color: white;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 100;

  header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    h1 {
      margin-left: @left-distance;
    }

    nav {
      position: absolute;
      top: 25%;
      right: 1.5%;
      z-index: 1;

      a {
        opacity: 0.2;
        display: inline-block;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .slidemarkers {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 0;
    text-align: center;

    li {
      display: inline-block;

      a {
        -webkit-transition: opacity 0.1s;
        background-color: white;
        opacity: 0.2;
        border-radius: 4px;
        margin-left: 0.5%;
        display: inline-block;

        &:hover { opacity: 0.5; }
        &.active { -webkit-transition: opacity 2s; opacity: 0.8; }
      }
    }
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

    padding-bottom: 1.5%;
    padding-left: @left-distance;

    h1 { font-weight: 500; text-transform: uppercase; margin-top: -0.5%; margin-bottom: -0.5%; }
    h2 { font-weight: 300; color: @dark-yellow; }

    .legend {
      margin-top: 2%;
      list-style-type: none;
      .series {
        display: inline-block; 
        clear: both; 
        margin-right: 4%;
        .color { display: inline-block; }
        .label { font-weight: 300; }
        .value { font-weight: 700; color: @dark-yellow; }
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
  }

  #viewport {
    position: relative;
    overflow: hidden;

    .slides { position: absolute; }
    .slide { 
      position: absolute;
      .placeholder {
        min-height: 200px;
      }
    }

    .loading {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20%;
      color: white;
      opacity: 0.5;
      width: 100%;
    }

    .more {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: @error-red;
      font-weight: 300;
      opacity: 0.5;
      width: 100%;
      a { opacity: 0.8; color: lighten(@error-red, 20%); }
    }
  }

  div.settings {
    position: absolute;
    left: 25%;
    top: 12.5%;
    z-index: 2;
    width: 50%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: lighten(@background, 5%);
    border-radius: 4px;
    padding: 1%;
    display: none;
    overflow: scroll;

    nav {
      position: absolute;
      top: 3%;
      right: 2%;
    }

    form {
      fieldset {
        margin: 1% 0 0 0;
        border: none;
        border-top: 1px solid lighten(@background, 30%);
      }

      p {
        margin-top: 1%;
        width: 100%;

        label {
          width: 30%;
          display: inline-block;
        }

        input {
          width: 70%;
          border: none;
          padding: 4px;
          color: white;
          background: lighten(@background, 10%);
          &:focus { outline: none; }
        }
      }
    }
  }
}

